# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

package-lock.json

user-data.yml
stack.yml

public/admin/src/cognito.js
public/admin/src/aws-stack-vars.js
public/admin/src/AppSync.js
