{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key" : {
        "id" : { "S" : "$context.arguments.id" }
    },
    "update" : {
        "expression" : "SET is_deleted = :deleted",
        "expressionValues" : {
            ":deleted" : { "BOOL": true }
        }
    },
    "condition" : {
      "expression" : "attribute_exists(id)"
    }
}